#Data Types and Structures

### 1. Write a code to create a string with your name and print it

In [1]:
name='yunus'
print(name)

yunus

### 2. Write a code to find the length of the string "Hello World".

In [3]:
name="yunus"
print(len(name))

5

### 3. Write a code to slice the first 3 characters from the string "Python Programming"

In [5]:
name="yunus"
print(name[:3])

yun

### 4. Write a code to convert the string "hello" to uppercase.

In [8]:
name="hello"
print(name.upper())

HELLO

### 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [9]:
sentence='i like apple'
if 'apple' in sentence:
  print(sentence.replace('apple','orange'))

i like orange

### 6. Write a code to create a list with numbers 1 to 5 and print it.

In [10]:
new_list=[i for i in range(1, 6)]
print(new_list)

[1, 2, 3, 4, 5]

### 7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [11]:
new_list_ques_7=[1,2,3,4]
new_list_ques_7.append(10)
print(new_list_ques_7)

[1, 2, 3, 4, 10]

### 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [12]:
ques_8_list=[1,2,3,4,5]
ques_8_list.remove(3)
print(ques_8_list)

[1, 2, 4, 5]

### 8. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [13]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

### 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [14]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

### 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [15]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

### 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [16]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

### 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [19]:
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

### 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [20]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

### 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [21]:
fruits_tuple = ('apple', 'banana', 'orange')
print("kiwi" in fruits_tuple)

False

### 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [24]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

### 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [25]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

### 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [26]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

### 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [27]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

### 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [28]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

### 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [30]:
my_dict = {"name": "Yunus", "age": 21, "city": "Bareilly"}
print(my_dict)

{'name': 'Yunus', 'age': 21, 'city': 'Bareilly'}

###22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [31]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

###  23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [32]:
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

### 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [47]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

### 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [46]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)

True

### 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [45]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}
print("list: ",my_list)
print("tuple:",my_tuple)
print("dictionary:",my_dict)

list:  [1, 2, 3]
tuple: (4, 5, 6)
dictionary: {'a': 7, 'b': 8}

### 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [43]:
import random

random_list = [random.randint(1, 100) for _ in range(5)]
random_list.sort()
print("Here is a sorted list of 5 random numbers:")
print(random_list)

Here is a sorted list of 5 random numbers:
[18, 28, 75, 90, 94]

### 28. Write a code to create a list with strings and print the element at the third index.

In [42]:
my_list = ["apple", "banana", "cherry", "date"]
print(my_list[2])

cherry

### 29. Write a code to combine two dictionaries into one and print the result

In [41]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 30. Write a code to convert a list of strings into a set.

In [40]:
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'banana', 'cherry', 'apple'}